In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
def OrderofYearMonth(file):
    return(file[-13:-4])

#   Y   Y   Y   Y  M  M  _  X  X
# -13 -12 -11 -10 -9 -8 -7 -6 -5

In [3]:
def statistics_boats(Location, Year, home_folder, csv_download_folder):

    folder = os.listdir(home_folder)
    csv_file_name = csv_download_folder + Location + '_' + str(Year) + '.csv'
    list_of_unsorted_files=[]
    list_of_files=[]
    small = [0,0,0,0,0,0,0,0,0,0,0,0,0]
    large = [0,0,0,0,0,0,0,0,0,0,0,0,0]
    Months = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    zero_to_nine = [0,1,2,3,4,5,6,7,8,9]

    # Creates pandas DataFrame with empty data of lists
    data = {}
    Table = pd.DataFrame(data, index =['Boats length < 24 meters','Boats length >= 24 meters'])

    # Sorted files
    for file in folder:
        if file.endswith('txt'): # check the extension of a file
            list_of_unsorted_files.append(file)
    list_of_files = sorted(list_of_unsorted_files, key = OrderofYearMonth)
    #print(list_of_files)


    for sorted_file in list_of_files:
        for i in range(1,10):
            for j in range(0,2):
                if sorted_file[-9] == str(j) and sorted_file[-8] == str(i):
                    df = pd.read_table(home_folder+sorted_file, delimiter = " ", names=("Boat=0", "X", "Y", "Width", "Height", "Length"))
                    for len in df['Length']:
                        if len < 24:
                            small[i+10*j] += 1
                        elif len >= 24:
                            large[i+10*j] += 1
                        Table[Months[i+10*j]] = [small[i+10*j], large[i+10*j]]

    # print the data
    s = Table.style.set_table_attributes("style='display:inline'").set_caption(Location + " " + str(Year))
    
    # download csv
    Table.to_csv(csv_file_name)
    
    return(s)

In [4]:
"""
statistics_boats(Location="", Year=, 
                 home_folder = "", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")
"""

'\nstatistics_boats(Location="", Year=, \n                 home_folder = "", \n                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")\n'

In [5]:
statistics_boats(Location="SantaRosalia", Year=2019, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1a_Original_SantaRosalia/2019/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [6]:
statistics_boats(Location="SantaRosalia", Year=2020, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1a_Original_SantaRosalia/2020/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [7]:
statistics_boats(Location="SantaRosalia", Year=2021, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1a_Original_SantaRosalia/2021/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [8]:
statistics_boats(Location="Loreto", Year=2019, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1b_Original_Loreto/2019/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [9]:
statistics_boats(Location="Loreto", Year=2020, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1b_Original_Loreto/2020/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [10]:
statistics_boats(Location="Loreto", Year=2021, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1b_Original_Loreto/2021/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [11]:
statistics_boats(Location="Guaymas", Year=2019, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1c_Original_Guaymas/2019/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [12]:
statistics_boats(Location="Guaymas", Year=2020, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1c_Original_Guaymas/2020/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")

In [13]:
statistics_boats(Location="Guaymas", Year=2021, 
                 home_folder = "/Users/realgjl/Desktop/BENV0096/1c_Original_Guaymas/2021/labels/", 
                 csv_download_folder = "/Users/realgjl/Desktop/BENV0096/1d_CSVs/")